@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-body: 0, 0%, 96%;
    --color-body-foreground: 0, 0%, 0%;
    --color-body-foreground-primary: 0, 0%, 0%, 0.87;
    --color-body-foreground-secondary: 0, 0%, 0%, 0.6;
    --color-body-foreground-disabled: 0, 0%, 0%, 0.38;
    --color-body-foreground-decorative: 0, 0%, 0%, 0.16;
    --color-body-foreground-destructive: 344, 52%, 50%;

    --color-accent: 39, 100%, 50%;
    --color-accent-foreground: 0, 0%, 100%;

    --color-destructive: 344, 52%, 50%;
    --color-destructive-foreground: 0, 0%, 100%;

    --color-debug: 0, 0%, 100%;
    --color-debug-foreground: 0, 0%, 0%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-body: 0, 0%, 7%;
      --color-body-foreground: 0, 0%, 100%, 1;
      --color-body-foreground-primary: 0, 0%, 100%, 0.87;
      --color-body-foreground-secondary: 0, 0%, 100%, 0.6;
      --color-body-foreground-disabled: 0, 0%, 100%, 0.38;
      --color-body-foreground-decorative: 0, 0%, 100%, 0.16;
      --color-body-foreground-destructive: 344, 52%, 50%, 1;

      --color-accent: 39, 100%, 69%;
      --color-accent-foreground: 0, 0%, 7%, 1;

      --color-destructive: 344, 52%, 50%;
      --color-destructive-foreground: 0, 0%, 100%, 1;

      --color-debug: 0, 0%, 0%;
      --color-debug-foreground: 0, 0%, 100%, 1;
    }
  }

  button {
    @apply select-none outline-offset-4 focus:[&:not(:focus-visible)]:outline-none;
  }

  ::selection {
    @apply bg-accent text-accent-foreground;
  }
}

@layer utilities {
  .layout-padding {
    @apply px-4 sm:px-[5vw] 2xl:px-0;
  }

  .lock-scroll {
    @apply fixed w-full overflow-y-scroll;
  }

  .no-tap-highlight-mobile {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .layout-base {
    @apply layout-padding container mx-auto my-0;
  }
}
