@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --c-body: #f5f5f5;
    --c-body-fg: black;
    --c-body-fg-primary: rgba(0, 0, 0, 0.84);
    --c-body-fg-secondary: rgba(0, 0, 0, 0.64);
    --c-body-fg-disabled: rgba(0, 0, 0, 0.34);
    --c-body-fg-destructive: #c13d60;

    --c-accent: orange;
    --c-accent-fg: white;

    --c-debug: rgb(0, 0, 0);
    --c-debug-fg: white;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --c-body: #111;
      --c-body-fg: white;
      --c-body-fg-primary: rgba(255, 255, 255, 0.92);
      --c-body-fg-secondary: rgba(255, 255, 255, 0.74);
      --c-body-fg-disabled: rgba(255, 255, 255, 0.46);
      --c-body-fg-destructive: #de4b72;

      --c-accent: #ffc760;
      --c-accent-fg: #111;
    }
  }

  button {
    @apply select-none outline-offset-4 focus:[&:not(:focus-visible)]:outline-none;
  }

  ::selection {
    @apply text-accent-fg bg-accent;
  }
}

@layer utilities {
  .layout-padding {
    @apply px-4 sm:px-[5vw] 2xl:px-0;
  }

  .layout-width-limiter {
    @apply mx-auto my-0 max-w-screen-xl;
  }

  .lock-scroll {
    @apply fixed w-full overflow-y-scroll;
  }

  .no-tap-highlight-mobile {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .layout-base {
    @apply layout-padding layout-width-limiter;
  }
}
